/* ************Top-header Responsive Css Start************ */

@media screen and (min-width: 320px) and (max-width: 770px) {
  .nav_link a {
    font-size: 10px;
    padding: 6px 12px;
  }

  .vrtcl_line::after {
    margin-left: 10px;
  }
  .top-header-left a span {
    font-size: 12px;
    margin: 12px 8px 12px 4px;
  }
}

@media screen and (min-width: 320px) and (max-width: 472px) {
  .top-header-left {
    display: block;
    text-align: center;
  }
}

/* ************Top-header Responsive Css End************ */

/* ************Banner Responsive Css Start************ */
@media screen and (min-width: 320px) and (max-width: 770px) {
    .bg_img_content h1 {
        font-size: 38px;   
      }

      .bg_img_content p {
        font-size: 13px;
        font-weight: 400;
      }
      
      .bg_img_conent_btns .btn1 {
        font-size: 10px;
        margin: 5px;
        padding: 0 25px;
        line-height: 37px;
      }

      .bg_img_conent_btns .btn2 {
        font-size: 10px;
        margin: 5px;
        padding: 0 25px;
        line-height: 37px;
      }
}

/* ************Banner Responsive Css End************ */

/* ************TextComponent Responsive Css Start************ */

@media screen and (min-width: 320px) and (max-width: 992px) {
    .text_cmpnt_content h5{
        /* border: 1px solid red; */
        min-height: 48px;
      }
}

/* ************TextComponent Responsive Css End************ */




/* ************Carousel Responsive Css Start************ */
@media screen and (min-width: 320px) and (max-width: 770px) {
    .carousel_content h1{
        line-height: 30px;
        font-size: 30px;
    }
}

/* ************Carousel Responsive Css End************ */



/* ************Footer Responsive Css Start************ */

@media screen and (min-width: 320px) and (max-width: 1250px) {
    .footer_bg {
        padding: 50px 40px 30px 60px;
      }

      .footer_social_icons a{
        padding: 0px 15px 15px 0px;
        font-size: 25px;
      }
      .footer_date {
        font-size: 12px;
      }

      .footer_heading{
        font-size: 16px;
      }
      .footer_para_link{
        font-size: 13px;
       }

       .footer_content ul li a img{
        width: 50px;
       }
}

/* ************Footer Responsive Css End************ */
